<h1>{{title}}</h1>
<p>Welcome to {{title}} - home to nutrition planning made easy.</p>
<a href ="/auth/signup" type="button">Register</a>
<a href ="auth/login" type="button">Log in</a>
<!--<button type="button" >Register</button>-->
<!--<button>Search</button>-->

<h1>{{name}}</h1>

<form action="/" method="POST">
    <label for="">NAME</label>
    <input type="text" name='param'>
    <button type="submit">Click</button>
</form>