<h2>Prepare your plan</h2>




{{!-- {{#each recipes}} {{this._id}} {{/each}} --}}
<h1 class="username">{{user.username}}</h1>
<ul>
  {{#each user.recipes}}
  <li>{{this}}</li> {{/each}}
</ul>






<form action="/user/user_profile" method='post'>



</form>
{{#with user}}
  
  <h2 class="bmr">Estimated calories needed per day (BMR): {{bmr this.weight this.height this.age this.gender}}</h2>

  {{/with}}

  <form action="/user/user_profile" method='post'>
  
  
  
  </form>
