<h2>User profile</h2>

{{#with user}}
<h1 class="username">{{this.username}}</h1>
{{/with}}

<form action="/user/user_profile" method='post'>
  <input type="hidden" value={{user._id}} name="id">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Gender</label>
    </div>
    <select name="gender" method="post">

      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Allergies</label>
    </div>
    <select name="allergies" method="post">
      <option selected>None</option>
      <option value="None">None</option>
      <option value="Peanut-free">Peanut-free</option>
      <option value="Tree-nut-free">Tree-nut-free</option>
      <option value="sugar-conscious">sugar-conscious</option>
      <option value="alcohol-free">alcohol-free</option>
      <option value="vegan">vegan</option>
      <option value="vegetarian">vegeterian</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Diet</label>
    </div>
    <select name="diet" method="post">
      <option selected="selected" value="balanced">Balanced</option>
      <option value="high-Protein">High Protein</option>
      <option value="low-fat">low fat</option>
      <option value="low-carb">low carb</option>
      <option value="low-sodium">low sodium</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Age</label>
    </div>
    <input type="number" name="age" method="post"></input>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Height</label>
    </div>
    <input type="number" name="height" method="post" placeholder="cm"></input>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Weight</label>
    </div>
    <input type="number" name="weight" method="post" placeholder="kg"></input>
  </div>

  <button>
    SUBMIT
  </button>
</form>

<br></br>
<a class="btn btn-primary" href="/search">choose recipes</a>
<br></br>
<a class="btn btn-primary" href="/auth/logout">Log out</a>