$ultramarine: #0c2d41;
$azure: #3182c2;
$light-green: #13CE66;
$dark-green: #125f35;
$light-grey: #ebebe0;
$shadow: #ccc7c7;
$silvery-grey: #a0afbe;
$grey: grey;
<<<<<<< HEAD
$dark-grey: #10552a;
$mid-green: #0c2d41;
=======
$dark-grey: #333333;
$mid-green: #0c2d41;
>>>>>>> 26ce12caae87c189abca2de7523adc1727379fc1
