$ultramarine: #0c2d41;
$azure: #3182c2;
$light-green: #13CE66;
$dark-green: #125f35;
$light-grey: #ebebe0;
$shadow: #ccc7c7;
$dark-grey: #333333;
$silvery-grey: #a0afbe;
$font-grey: #333333;
$footer-grey: #b3b3af;
$grey: grey;
$mid-green: #0a8648;
$red: #ea4f4f;
$light-red: #ffc4c4;