.modal-content{
  @include box-shadow(0,10px,30px,rgba(0,0,0,0.3))
}
.modal-footer{
  justify-content: center;
}
.modal-body {
  background-color: rgb(202, 236, 132);
}

.modal-header {
  background-color: rgb(222, 248, 170);
}

.modal-dialog {
  position: absolute;
  top: 170px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.btn-submit {
  border-radius: 0;
  margin-left:0;
  padding: 10px;
}
