@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'auth';


body {
    padding: 50px;
    box-sizing: border-box;
    font-size: 14px;
    background-image:url('../images/background.jpg');
    filter: blur(30%);
    background-size:cover;
    color: $font-grey;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    color: #00B7FF;
}

.main {
    margin-top: 30px;
    padding: 20px;
    width: 970px;
    background-color: $light-grey;
    min-height: calc(100vh - 160px)
}

button, .button {
    display: block;
    margin: 20px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    border: none;
    background-color: $light-green;
    transition: all 0.3s ease-in;
    &:hover{
        background: $dark-green;
    }
}
.btn{
    transition:all 0.3s ease-in;
    &:hover{
        background: $dark-green !important;
    }
}
#foodCarousel{
    .carousel-item img{
        object-fit: cover;
        height: 20vw;
    }
}
.carousel-caption{
    width: 40%;
    margin: auto;
    background: rgba(18, 95, 53,0.7);
    font-family: $cookie;
}
form {
    #name {
      margin: 0 20px;
    }
}

.recipe {
    border: 1px solid $silvery-grey;
    background-color: white;
    @include box-shadow(0, 0, 3px, $dark-grey);
    text-decoration: none;
    color: $dark-grey;
    &:hover,
    &:active,
    &:link {
        text-decoration: none;
    }
    div {
        position: relative;
        .cals {
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            background-color: white;
            border-radius: 0 0 0 25px;
            padding: 0 15px;
            color: $dark-green;
        }
        .plan.cals,.plan.diet{
            position: relative;
            display:inline-block;
            font-size: 2em;
        }
        
        .diet {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0 15px;
            background-color: white;
            border-radius: 0 25px 0 0;
            img {
                margin: 10px 5px;
                width: 40px;
            }
        }
        img {
            max-width: 100%;
        }
        
    }
    h2.plan-font{
        font-size: 1.2em;
        font-family: $roboto;
        margin: 10px;
    }
    &:hover {
        transition: all 0.5s ease-out;
        z-index: 3;
        @include box-shadow(0, 0, 10px, $dark-grey);
        transform: scale(1.15, 1.15);
    }
}

button {
    display: block;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    border: none;
    background-color: $light-green;
    text-shadow: 0px 0px 5px black;
}
input::placeholder{
    color: $silvery-grey;
}
.username {
    font-family: 'Rochester';
    font-size: 45px;
}

.carousel-text {
    font-family: 'Rochester';
    font-size: 32px;
}

::-webkit-input-placeholder {
    text-align: right;
}

navbar {
    background-color: $dark-green;
    height: 80px;
    @include box-shadow(0, 0, 5px, $dark-grey);
    a {
        color: white;

        margin: 15px;
        transition: all 0.3s ease-out;
        &:link,
        &:visited {
            text-decoration: none;
            color: white;
        }
        &:hover {
            color: $light-green !important;
        }
    }
    .username{
        text-shadow: 2px 2px $dark-grey;
    }
    .login {
        padding: 20px;
        text-decoration: none;
        background: $light-green;
        font-weight: 700;
        &:hover {
            background: $mid-green;
        }
    }
}



footer {
    height: 80px;
    background-color: $dark-grey;
    color: $footer-grey;
    text-transform: uppercase;
    font-size: 0.7em;
    justify-content: flex-start;
    a, a:link, a:visited, a:active{
        color:$footer-grey;
        text-decoration: none;
        &:hover{
            color:$light-green;
        }
        transition: all 0.3s ease-out
    }
    .badges{
        p{
            padding:10px;
            margin: 0;
        }
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-self: flex-start;
    }
    .links{
        margin:auto;
        *{
            margin: 20px;
            font-size: 1.5em;
        }        
    }
}

.navbar-brand>img {
    height: 60px;
}
.navbar-brand > img{
  height: 60px;
}

.modal-backdrop{
  z-index:0;
}

.btn {
  background-color: $light-green !important;
  border: none;
  border-radius: 0;
}

.username-nav {
  text-decoration: none;
}

.index-center h1 {
    font-family: 'Rochester';
    font-size: 85px;
    margin-top: 40px;
    }

.index-center p {
    font-family: 'Rochester' sans-serif;
    font-size: 25px;
    }
    
.wellcome {
    margin-top: 35px;
}    

.reg-btn {
    margin-top: 45px;
    padding: 5px 35px;
    border-radius: 12px;
    font-size: 20px;
}

//  Specific pages:
@import 'recipe';
@import 'modal';


.modal-body {
    background-color: rgb(202, 236, 132);
  }
  
  .modal-header {
    background-color: rgb(222, 248, 170);
  }
  
  .modal-dialog {
    position: absolute;
    top: 210px;
    right: 25px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
  }
  

.btn-submit {
    border-radius: 0;
    margin-left:0;
    margin-top:0;
    padding: 10px 35px;
  }
  
  .button-wrapper .btn {
      margin-bottom:10px;
  }
  
  #form-width{
      width: 140px;
  }
  
  #form-width-l {
      width: 90px;
  }
  
  .form-rounded {
      border:1px solid rgb(165, 163, 163);
      border-radius: 7px;
      }

      .user-profile-name {
        margin-top: 55px;
        margin-bottom: 65px;
    }
   
    /*.plan-container {
        margin-top: 25px;
    }*/
   
    .carousel-box {
        margin-top:35px;
    }
    
    .btn-user-search {
        margin-top:0;
    }  

    .bmr {
        font-size:25px;
    }
  