
@import 'colors';
@import 'fonts';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button{
  display:block;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  border: none;
  background-color: $light-green;
<<<<<<< HEAD
=======
}
form {
  width: 30%;
>>>>>>> 85a275b475a829311efc6836f1ab905c1d6719fe
}